
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <div class="card-title">
            <a routerLink="/plan-submissions/create" class="btn btn-danger btn-sm text-light">
              <svg cIcon name="cilPlus" class="btn-icon text-light1"></svg> Add
            </a>
          </div>
          <div>
            <form [formGroup]="itemForm" (ngSubmit)="onSearch(itemForm.value)">
              <div class="input-group input-group-sm"  style="width: 150px;">
                <input type="text" formControlName="search_term" [ngClass]="{'is-invalid': search_term.invalid && (search_term.dirty || search_term.touched)}" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" cButton size="sm" color="success">
                    <svg cIcon name="cilSearch" class="btn-icon text-light"></svg>
                  </button>
                </div>
                <div *ngIf="search_term.invalid && (search_term.dirty || search_term.touched)" class="invalid-feedback" type="alert">
                  <div *ngIf="search_term.errors?.['required']">This field is required.</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </c-card-header>
      <c-card-body>

        <div *ngIf="mSolutionDefinitions.length>0; else noItemsTemplate" class="table-responsive">
          <table cTable striped>
            <thead cTableColor="light1">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Project</th>
                <th scope="col">Investor</th>
                <th scope="col">Submission Type</th>
                <th scope="col">Has Variations</th>
                <th scope="col">Duration (Months)</th>
                <th scope="col">Estimated Cost (USD)</th>
                <th scope="col">Consultant</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mSolutionDefinitions; index as i">
                <td>{{ this.mPageFrom+i }}.</td>
                <td>{{ item.project_brief }}</td>
                <td>{{ item.investor.name }}</td>
                <td>
                  <span class="badge rounded-pill" [ngClass]="{'bg-primary':item.plan_submission_type_id==1,'bg-secondary':item.plan_submission_type_id==2, 'bg-success':item.plan_submission_type_id==3, 'bg-danger':item.plan_submission_type_id==4,'bg-warning text-dark':item.status_id==5,'bg-info':item.plan_submission_type_id==6,'bg-dark':item.plan_submission_type_id==7}">
                    {{ item.type?.name }}
                  </span>
                </td>
                <td>{{ item.require_variations }}</td>
                <td>{{ item.estimated_project_duration }}</td>
                <td>{{ item.estimated_project_construction_cost | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ item.consultant.name }}</td>
                <td>
                  <span class="badge rounded-pill" [ngClass]="{'bg-primary':item.status_id==1,'bg-warning text-dark':item.status_id==2, 'bg-secondary':item.status_id==3, 'bg-info text-dark':item.status_id==4,'bg-light text-dark':item.status_id==5,'bg-dark':item.status_id==6,'bg-white  text-dark':item.status_id==7,'bg-danger':item.status_id==8, 'bg-success':item.status_id==9}">
                    {{ item.status?.name }}
                  </span>
                </td>
                <td>{{ item.created_at|date }}</td>
                <td>
                  <div class="text-nowrap">
                    <a routerLink="/plan-submissions/show/{{item.id}}" cButton color="dark" variant="outline" size="sm"><svg cIcon name="cilLowVision" class="btn-icon"></svg></a>
                    <!-- <a routerLink="/plan-submissions/edit/{{item.id}}" cButton color="dark" size="sm"><svg cIcon name="cilPencil" class="btn-icon"></svg></a> -->
                    <c-dropdown style="display: inline;">
                      <button cButton cDropdownToggle color="dark" size="sm">
                        <svg cIcon name="cilPencil" class="btn-icon"></svg>
                      </button>
                      <ul cDropdownMenu>
                        <li><a routerLink="/plan-submissions/edit/{{item.id}}" cDropdownItem><svg cIcon name="cilPen" class="btn-icon"></svg> Edit</a></li>
                        <li><a routerLink="/plan-submissions/process/{{item.id}}" cDropdownItem><svg cIcon name="cilList" class="btn-icon"></svg> Process</a></li>
                      </ul>
                    </c-dropdown>
                    <button (click)="onDelete(item)" type="button" cButton color="danger" size="sm"><svg cIcon name="cilTrash" class="btn-icon"></svg></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="links">
          <ul class="pagination">
            <li *ngFor="let item of links" [ngClass]="{'active': item.active, 'disabled': !item.url}" class="page-item">
              <a class="page-link" (click)="onChangePage(item.url)" [innerHTML]="item.label"></a>
            </li>
          </ul>
        </div>

        <ng-template #noItemsTemplate>
          <p class="p-5 text-center text-muted">No items</p>
        </ng-template>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>

