
<app-progress *ngIf="mProgress()" />

<div>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">

    <!-- ['id'=>11,'name'=>'Architect', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')],
    ['id'=>12,'name'=>'StructuralEngineer', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')],
    ['id'=>13,'name'=>'Electrical Engineer', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')],
    ['id'=>14,'name'=>'ICT Engineer', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')],
    ['id'=>15,'name'=>'Mechanical Engineer', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')],
    ['id'=>16,'name'=>'Environment Health and Safety Officer', 'created_at'=>date('Y-m-d H:i:s'),'updated_at'=>date('Y-m-d H:i:s')], -->


      <!-- architect_report: ['', Validators.nullValidator],
      structural_engineer_report: ['', Validators.nullValidator],
      electrical_engineer_report: ['', Validators.nullValidator],
      ict_engineer_report: ['', Validators.nullValidator],
      mechanical_engineer_report: ['', Validators.nullValidator],
      professional_sustainability_report: ['', Validators.nullValidator],
      professional_sustainability_report: ['', Validators.nullValidator], -->

  <!-- Architect -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([12]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="architect_report" class="col-form-label required">Architect Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.architect_report" formControlName="architect_report" [ngClass]="{'is-invalid': itemForm.get('architect_report').invalid && (itemForm.get('architect_report').dirty || itemForm.get('architect_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('architect_report').invalid && (itemForm.get('architect_report').dirty || itemForm.get('architect_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('architect_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- StructuralEngineer -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([13]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="structural_engineer_report" class="col-form-label required">Structural Engineer Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.structural_engineer_report" formControlName="structural_engineer_report" [ngClass]="{'is-invalid': itemForm.get('structural_engineer_report').invalid && (itemForm.get('structural_engineer_report').dirty || itemForm.get('structural_engineer_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('structural_engineer_report').invalid && (itemForm.get('structural_engineer_report').dirty || itemForm.get('structural_engineer_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('structural_engineer_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ElectricalEngineer -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([14]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="electrical_engineer_report" class="col-form-label required">Electrical Engineer Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.electrical_engineer_report" formControlName="electrical_engineer_report" [ngClass]="{'is-invalid': itemForm.get('electrical_engineer_report').invalid && (itemForm.get('electrical_engineer_report').dirty || itemForm.get('electrical_engineer_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('electrical_engineer_report').invalid && (itemForm.get('electrical_engineer_report').dirty || itemForm.get('electrical_engineer_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('electrical_engineer_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ICT_Engineer  -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([9]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="ict_engineer_report" class="col-form-label required">ICT Engineer Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.ict_engineer_report" formControlName="ict_engineer_report" [ngClass]="{'is-invalid': itemForm.get('ict_engineer_report').invalid && (itemForm.get('ict_engineer_report').dirty || itemForm.get('ict_engineer_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('ict_engineer_report').invalid && (itemForm.get('ict_engineer_report').dirty || itemForm.get('ict_engineer_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('ict_engineer_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MechanicalEngineer  -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([15]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="mechanical_engineer_report" class="col-form-label required">Mechanical Engineer Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.mechanical_engineer_report" formControlName="mechanical_engineer_report" [ngClass]="{'is-invalid': itemForm.get('mechanical_engineer_report').invalid && (itemForm.get('mechanical_engineer_report').dirty || itemForm.get('mechanical_engineer_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('mechanical_engineer_report').invalid && (itemForm.get('mechanical_engineer_report').dirty || itemForm.get('mechanical_engineer_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('mechanical_engineer_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EnvironmentHealthAndSafetyOfficer  -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([16]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="environment_health_and_safety_report" class="col-form-label required">Environment Health and Safety Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.environment_health_and_safety_report" formControlName="environment_health_and_safety_report" [ngClass]="{'is-invalid': itemForm.get('environment_health_and_safety_report').invalid && (itemForm.get('environment_health_and_safety_report').dirty || itemForm.get('environment_health_and_safety_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('environment_health_and_safety_report').invalid && (itemForm.get('environment_health_and_safety_report').dirty || itemForm.get('environment_health_and_safety_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('environment_health_and_safety_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="professional_sustainability_report" class="col-form-label required">Professional Sustainability Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.professional_sustainability_report" formControlName="professional_sustainability_report" [ngClass]="{'is-invalid': itemForm.get('professional_sustainability_report').invalid && (itemForm.get('professional_sustainability_report').dirty || itemForm.get('professional_sustainability_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('professional_sustainability_report').invalid && (itemForm.get('professional_sustainability_report').dirty || itemForm.get('professional_sustainability_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('professional_sustainability_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="landscaping_report" class="col-form-label required">Landscaping Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.landscaping_report" formControlName="landscaping_report" [ngClass]="{'is-invalid': itemForm.get('landscaping_report').invalid && (itemForm.get('landscaping_report').dirty || itemForm.get('landscaping_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('landscaping_report').invalid && (itemForm.get('landscaping_report').dirty || itemForm.get('landscaping_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('landscaping_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- StreetscapeEngineer  -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([18]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="civil_works_design_report" class="col-form-label required">Civil Works Design Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.civil_works_design_report" formControlName="civil_works_design_report" [ngClass]="{'is-invalid': itemForm.get('civil_works_design_report').invalid && (itemForm.get('civil_works_design_report').dirty || itemForm.get('civil_works_design_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('civil_works_design_report').invalid && (itemForm.get('civil_works_design_report').dirty || itemForm.get('civil_works_design_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('civil_works_design_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Water&SanitationEngineer  -->
  <div *ngIf="(mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([19]))">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="water_and_sanitation_designs_report" class="col-form-label required">Water and Sanitation Designs Report:</label>
          <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" [(ngModel)]="item.water_and_sanitation_designs_report" formControlName="water_and_sanitation_designs_report" [ngClass]="{'is-invalid': itemForm.get('water_and_sanitation_designs_report').invalid && (itemForm.get('water_and_sanitation_designs_report').dirty || itemForm.get('water_and_sanitation_designs_report').touched)}" type="text" class="form-control1"></ckeditor>
          <div *ngIf="itemForm.get('water_and_sanitation_designs_report').invalid && (itemForm.get('water_and_sanitation_designs_report').dirty || itemForm.get('water_and_sanitation_designs_report').touched)" class="invalid-feedback" role="alert">
            <div *ngIf="itemForm.get('water_and_sanitation_designs_report').errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 text-right">
    <button routerLink="/detailed-designs" cButton color="danger" class="me-2">Cancel</button>
    <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button>
  </div>

</form>
</div>
