
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>

        <div class="row">
          <div class="col-md-12">
            <div *ngIf="item.investor" class="form-group mb-3">
              <label for="investor_id" class="col-form-label required">Company:</label>
              <div class="text-muted">{{ item.investor?.name }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3">
              <label for="project_brief" class="col-form-label required">Project Brief:</label>
              <div class="text-muted">{{ item.project_brief }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <fieldset class="border p-2 mb-3">
              <legend class="float-none w-auto"><h6 class="text-bolder text-muted">Professional Reviews</h6></legend>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="topographical_survey_review" class="col-form-label required1">Topographical Survey Review:</label>
                    <div *ngIf="item.topographical_survey_review">
                      <span [innerHTML]="mAppContextService.safeHtml(item.topographical_survey_review)"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="topographical_survey_review" class="col-form-label required1">Geotechnical Survey Review:</label>
                    <div *ngIf="item.geotechnical_survey_review">
                      <span [innerHTML]="mAppContextService.safeHtml(item.geotechnical_survey_review)"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="traffic_management_plan_and_parking_strategy_review" class="col-form-label required1">Traffic Management Plan and Parking Strategy Review:</label>
                    <div *ngIf="item.traffic_management_plan_and_parking_strategy_review">
                      <span [innerHTML]="mAppContextService.safeHtml(item.traffic_management_plan_and_parking_strategy_review)"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="utility_demand" class="col-form-label required1">Utility Demand:</label>
                    <div *ngIf="item.utility_demand">
                      <span [innerHTML]="mAppContextService.safeHtml(item.utility_demand)"></span>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Planner/Surveyor  -->
            <div *ngIf="(item?.status_id == 3 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([10,11])))">
              <app-review/>
            </div>
            <!-- ProfessionalReview : Surveyor, StructuralEngineer,StreetscapeEngineer -->
            <div *ngIf="(item?.status_id == 4 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([11,13,18])))">
              <app-professional-review/>
            </div>
            <!-- CM  -->
            <div *ngIf="(item?.status_id == 5 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([17])))">
              <app-cm-approval/>
            </div>
          </div>
        </div>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
