<app-progress *ngIf="mProgress()" />

<div ngPreserveWhitespaces>

  <div class="mb-3">
    <c-row [gutter]="{ gx: 3, gy: 3 }">
      <c-col xs="12">
        <h5 class="mt-2 text-muted">System Insights</h5>
      </c-col>
    </c-row>

    <c-row *ngIf="(!mAppContextService.hasRoles([2]))">
      <c-col xs="12">
        <h6 class="mt-2 text-muted">System Admin</h6>
      </c-col>
      <c-col md="3" xl="3">
        <c-widget-stat-c [title]="'Users'" class="mb-4" color="info" inverse value="{{ mUsers || 0 }}">
          <ng-template cTemplateId="widgetIconTemplate">
            <i class="fa-solid fa-users fs-1" aria-hidden="true"></i>
          </ng-template>
        </c-widget-stat-c>
      </c-col>
      <c-col md="3" xl="3">
        <c-widget-stat-c [title]="'Institutions'" class="mb-4" color="warning" inverse value="{{ mInstitutions || 0 }}">
          <ng-template cTemplateId="widgetIconTemplate">
            <i class="fa-solid fa-institution fs-1" aria-hidden="true"></i>
          </ng-template>
        </c-widget-stat-c>
      </c-col>
      <c-col md="3" xl="3">
        <c-widget-stat-c [title]="'Selections'" class="mb-4" color="success" inverse value="{{ mSelections || 0 }}">
          <ng-template cTemplateId="widgetIconTemplate">
            <i class="fa-solid fa-check-to-slot fs-1" aria-hidden="true"></i>
          </ng-template>
        </c-widget-stat-c>
      </c-col>
      <c-col md="3" xl="3">
        <c-widget-stat-c [title]="'Placements'" class="mb-4" color="danger" inverse value="{{ mPlacements || 0 }}">
          <ng-template cTemplateId="widgetIconTemplate">
            <i class="fa-solid fa-graduation-cap fs-1" aria-hidden="true"></i>
          </ng-template>
        </c-widget-stat-c>
      </c-col>
    </c-row>

    <c-row [gutter]="{ gx: 3, gy: 3 }">
      <c-col xs="12">
        <h6 class="mt-2 text-muted">Institutions</h6>
      </c-col>
      <c-col xs="12" lg="6">
        <c-widget-stat-e [title]="'Learners'" value="{{ myLearners }}" class="mb-4">
          <i class="fa-solid fa-user-group fs-1" aria-hidden="true"></i>
        </c-widget-stat-e>
      </c-col>
      <c-col xs="12" lg="6">
        <c-widget-stat-e [title]="'Selections'" value="{{ mySelections }}" class="mb-4">
          <i class="fa-solid fa-check-to-slot fs-1" aria-hidden="true"></i>
        </c-widget-stat-e>
      </c-col>
    </c-row>

  </div>

</div>
