<!-----------------------------------------progress--------------------------------------------------->
<section id="progress">

  <!-- <div id="status" class="fade show">
    <div class="spinner-border text-danger"></div>
    <p class="text-danger"><i><strong>Loading...</strong></i></p>
  </div> -->

  <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh;">
    <div class="text-danger">
      <div class="spinner-border"></div>
      <p><i><strong>Loading...</strong></i></p>
    </div>
  </div>

</section>
<!-----------------------------------------./progress--------------------------------------------------->
