<!-----------------------------------------progress--------------------------------------------------->
<section id="progress">

  <!-- <div class="fade show text-danger" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Loading...</span>
  </div>     -->

  <!-- <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh;">
    <div class="text-danger">
      <div class="spinner-border"></div>
      <p><i><strong>Loading...</strong></i></p>
    </div>
  </div> -->

<div class="fade show text-danger d-flex flex-column justify-content-center align-items-center" style="height: 100vh; width: 100%;">
  <div class="progress" style="width: 105px; height: 10px;">
    <div class="progress-bar bg-danger progress-bar-striped1 progress-bar-animated1 loading-progress" role="progressbar"></div>
  </div>
  <div class="text-danger fw-bold"><i>Loading...</i></div>
</div>

</section>
<!-----------------------------------------./progress--------------------------------------------------->
