<section id="footer" class="bg-primary">
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="p-2">
            <img src="./assets/images/logo-main.png" class="img-fluid bg-light p-2" name="Logo" width="132"/>
            <div class="py-2">
              <h5 class="fw-bold text-light">Grade 10 Selection & Placement</h5>
            </div>
            <p class="text-white-50">
              The official Ministry of Education platform helping Grade 9 learners choose their Pathways,
              Subject Combinations and Senior Schools, and track their placement, under Kenya's Competency-Based Education framework.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <h6 class="text-white-50 text-uppercase">Quick Links</h6>
            <ul style="list-style: none;" class="p-0">
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/">Home</a></li>
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/about">About</a></li>
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/">Pathways</a></li>
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/">Schools</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="p-2">
            <h6 class="text-white-50 text-uppercase">Important Links</h6>
            <ul style="list-style: none;" class="p-0">
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/">KEMIS <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/about">Ministry of Education <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
              <li class="py-1"><a class="text-sm text-white text-decoration-none" routerLink="/">Kenya National Examinations Council <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="py-2">
            <h6 class="text-white-50 text-uppercase">Location</h6>
              <div class="text-light">
                <div class="my-2">
                  <i class="fa-solid fa-location-dot"></i>
                  Ministry of Education <br>
                  Jogoo House B, Harambee Ave <br>
                  P.O. Box 30040-00100 <br>
                  Nairobi, Kenya
                </div>
                <div class="my-2">
                  <i class="fa-solid fa-phone"></i> +254 203 318 581
                </div>
                <div class="my-2">
                  <i class="fa-solid fa-envelope"></i> support@kemis.go.ke
                </div>
                <div class="my-2">
                  <img src="./assets/images/coa-logo.png" class="img-fluid bg-light p-2" name="Logo"/>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <hr class="text-light">
      <div class="row">
        <div class="col-md-6 col-6">
            <ul class="nav justify-content-start">
              <li class="nav-item">
                <!-- <span class="nav-link pr-1 pl-0" href="#">&copy;&nbsp;2022&nbsp;-&nbsp;{{mCurrentDate | date:'yyyy'}} Jitume. All rights reserved</span> -->
                <span class="nav-link pr-1 pl-0 text-light" href="#">&copy;&nbsp;2026 Ministry of Education, Republic of Kenya. All rights reserved.</span>
              </li>
            </ul>
        </div>
        <div class="col-md-6 col-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link pr-1 pl-1 text-light" routerLink="/home/privacy-policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <span class="nav-link pr-1 pl-1" routerLink="#">|</span>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-0 pl-1 text-light" routerLink="/home/terms-and-conditions">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
