
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>

        <div>
          <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="professional_body_id?" class="col-form-label required">Professional Body:</label>
                    <select readonly [(ngModel)]="item.professional_body_id" formControlName="professional_body_id" [ngClass]="{'is-invalid': itemForm.get('professional_body_id')?.invalid && (itemForm.get('professional_body_id')?.dirty || itemForm.get('professional_body_id')?.touched)}" type="text" class="form-control">
                      <option value="" disabled="true" selected="true">--- Select professional body ---</option>
                      <option *ngFor="let item of mProfessionalBodies" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="itemForm.get('professional_body_id')?.invalid && (itemForm.get('professional_body_id')?.dirty || itemForm.get('professional_body_id')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('professional_body_id')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="status" class="col-form-label required">Membership Number:</label>
                    <input readonly [(ngModel)]="item.status" formControlName="status" [ngClass]="{'is-invalid': itemForm.get('status')?.invalid && (itemForm.get('status')?.dirty || itemForm.get('status')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('status')?.invalid && (itemForm.get('status')?.dirty || itemForm.get('status')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('status')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="consultant_name" class="col-form-label required">Name:</label>
                    <input readonly [(ngModel)]="item.consultant_name" formControlName="consultant_name" [ngClass]="{'is-invalid': itemForm.get('consultant_name')?.invalid && (itemForm.get('consultant_name')?.dirty || itemForm.get('consultant_name')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('consultant_name')?.invalid && (itemForm.get('consultant_name')?.dirty || itemForm.get('consultant_name')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('consultant_name')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="email" class="col-form-label required">Email:</label>
                    <input readonly [(ngModel)]="item.email" formControlName="email" [ngClass]="{'is-invalid': itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('email')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="membership_type" class="col-form-label required">Membership Type:</label>
                    <input readonly [(ngModel)]="item.membership_type" formControlName="membership_type" [ngClass]="{'is-invalid': itemForm.get('membership_type')?.invalid && (itemForm.get('membership_type')?.dirty || itemForm.get('membership_type')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('membership_type')?.invalid && (itemForm.get('membership_type')?.dirty || itemForm.get('membership_type')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('membership_type')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="status" class="col-form-label required">Status:</label>
                    <input readonly [(ngModel)]="item.status" formControlName="status" [ngClass]="{'is-invalid': itemForm.get('status')?.invalid && (itemForm.get('status')?.dirty || itemForm.get('status')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('status')?.invalid && (itemForm.get('status')?.dirty || itemForm.get('status')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('status')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="address" class="col-form-label required">Address:</label>
                    <input readonly [(ngModel)]="item.address" formControlName="address" [ngClass]="{'is-invalid': itemForm.get('address')?.invalid && (itemForm.get('address')?.dirty || itemForm.get('address')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('address')?.invalid && (itemForm.get('address')?.dirty || itemForm.get('address')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('address')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="nationality" class="col-form-label required">Nationality:</label>
                    <input readonly [(ngModel)]="item.nationality" formControlName="nationality" [ngClass]="{'is-invalid': itemForm.get('nationality')?.invalid && (itemForm.get('nationality')?.dirty || itemForm.get('nationality')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('nationality')?.invalid && (itemForm.get('nationality')?.dirty || itemForm.get('nationality')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('nationality')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="subscription_year" class="col-form-label required">Subscription Year:</label>
                    <input readonly [(ngModel)]="item.subscription_year" formControlName="subscription_year" [ngClass]="{'is-invalid': itemForm.get('subscription_year')?.invalid && (itemForm.get('subscription_year')?.dirty || itemForm.get('subscription_year')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('subscription_year')?.invalid && (itemForm.get('subscription_year')?.dirty || itemForm.get('subscription_year')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('subscription_year')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="good_standing" class="col-form-label required">Standing:</label>
                    <input readonly [(ngModel)]="item.standing" formControlName="good_standing" [ngClass]="{'is-invalid': itemForm.get('good_standing')?.invalid && (itemForm.get('good_standing')?.dirty || itemForm.get('good_standing')?.touched)}" type="text" class="form-control"/>
                    <div *ngIf="itemForm.get('good_standing')?.invalid && (itemForm.get('good_standing')?.dirty || itemForm.get('good_standing')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('good_standing')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3 text-right">
                <button routerLink="/profile" cButton color="danger">Cancel</button>
                <!-- <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button> -->
              </div>
            </div>
          </form>
        </div>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
