
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>

        <div class="row">
          <div class="col-md-12">
            <div *ngIf="item.investor" class="form-group mb-3">
              <label for="investor_id" class="col-form-label required1">Company:</label>
              <div class="text-muted">{{ item.investor?.name }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group mb-3">
              <label for="project_brief" class="col-form-label required1">Project Brief:</label>
              <div class="text-muted">{{ item.project_brief }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <fieldset class="border p-2 mb-3">
              <legend class="float-none w-auto"><h6 class="text-bolder text-muted">DETAILED PLAN</h6></legend>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="indemnity_form" class="col-form-label required1">Indemnity Form:</label>
                    <div *ngIf="item.indemnity_form">
                      <a href="{{ item.indemnity_form_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="architectural_design" class="col-form-label required1">Architectural Design:</label>
                    <div *ngIf="item.architectural_design">
                      <a href="{{ item.architectural_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="structural_design" class="col-form-label required1">Structural Design:</label>
                    <div *ngIf="item.structural_design">
                      <a href="{{ item.structural_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="electrical_design" class="col-form-label required1">Electrical Design:</label>
                    <div *ngIf="item.electrical_design">
                      <a href="{{ item.electrical_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="ict_design" class="col-form-label required1">ICT Design:</label>
                    <div *ngIf="item.ict_design">
                      <a href="{{ item.ict_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="mechanical_design" class="col-form-label required1">Mechanical Design:</label>
                    <div *ngIf="item.mechanical_design">
                      <a href="{{ item.mechanical_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="landscaping_design" class="col-form-label required1">Landscaping Design:</label>
                    <div *ngIf="item.landscaping_design">
                      <a href="{{ item.landscaping_design_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="signage_design" class="col-form-label required1">Site Access Plan:</label>
                    <div *ngIf="item.site_access_plan">
                      <a href="{{ item.site_access_plan_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="other_relevant_documents" class="col-form-label required1">Other Relevant Documents:</label>
                    <div *ngIf="item.other_relevant_documents">
                      <a href="{{ item.other_relevant_documents_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="green_certification_registration" class="col-form-label required1">Green Certification Registration:</label>
                    <div *ngIf="item.green_certification_registration">
                      <a href="{{ item.green_certification_registration_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="nema_project_report" class="col-form-label required1">NEMA Project Report:</label>
                    <div *ngIf="item.nema_project_report">
                      <a href="{{ item.nema_project_report_url }}" target="_blank" class="btn btn-link btn-sm">File</a>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Consultant  -->
            <div *ngIf="(item.detailed_plan_status_id == 1 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([2])))">
              <app-create/>
            </div>
            <!-- Planner  -->
            <div *ngIf="(item.detailed_plan_status_id == 3 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([10,11])))">
              <app-planner-review/>
            </div>
            <!-- Professionals  -->
            <div *ngIf="(item.detailed_plan_status_id == 4 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([9,11,12,13,14,15,16,18,19])))">
              <app-professional-recommendation/>
            </div>
            <!-- Planner/Surveyor/Architect/CM  -->
            <div *ngIf="(item.detailed_plan_status_id == 5 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([10,11,12,17])))">
              <app-design-report/>
            </div>
            <!-- Planner/Surveyor/Architect/CM  -->
            <div *ngIf="((item.detailed_plan_status_id == 6 || item.detailed_plan_status_id == 8) && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([10,11,12,17])))">
              <app-board-review/>
            </div>
            <!-- Planner/Surveyor/Architect/CM  -->
            <div *ngIf="(item.detailed_plan_status_id == 9 && (mAppContextService.hasRoles([1]) || mAppContextService.hasRoles([10,11,12,17])))">
              <app-permit/>
            </div>
          </div>
        </div>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
