
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="card-title text-muted"><strong>Development Codes</strong></div>
      </c-card-header>
      <c-card-body>
        <div class="mb-3">
          <div *ngIf="mDevelopmentCodes.length>0; else noItemsTemplate">
            <div class="row">
              <div *ngFor="let item of mDevelopmentCodes" class="col-md-3 mb-3">
                <div class="card shadow h-100">
                  <div class="card-body text-center">
                    <div class="text-danger"><svg cIcon name="cilFolder" class="btn-icon text-success"></svg></div>
                    <div class="text-bold">{{item.name}}</div>
                    <div>
                      <button (click)="onDownload(item.type_id, item.filename)" cButton class="btn btn-danger btn-sm">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noItemsTemplate>
              <p class="p-5 text-center text-muted">No items</p>
          </ng-template>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="card-title text-muted"><strong>Development Guidelines</strong></div>
      </c-card-header>
      <c-card-body>
        <div class="mb-3">
          <div *ngIf="mDevelopmentGuidelines.length>0; else noItemsTemplate">
            <div class="row">
              <div *ngFor="let item of mDevelopmentGuidelines" class="col-md-3 mb-3">
                <div class="card shadow h-100">
                  <div class="card-body text-center">
                    <div class="text-danger"><svg cIcon name="cilFolderOpen" class="btn-icon text-danger"></svg></div>
                    <div class="text-bold">{{item.name}}</div>
                    <div>
                      <button (click)="onDownload(item.type_id, item.filename)" cButton class="btn btn-success btn-sm">Show</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noItemsTemplate>
              <p class="p-5 text-center text-muted">No items</p>
          </ng-template>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="card-title text-muted"><strong>Templates</strong></div>
      </c-card-header>
      <c-card-body>
        <div class="mb-3">
          <div *ngIf="mTemplates.length>0; else noItemsTemplate">
            <div class="row">
              <div *ngFor="let item of mTemplates" class="col-md-3 mb-3">
                <div class="card shadow h-100">
                  <div class="card-body text-center">
                    <div class="text-danger"><svg cIcon name="cilFile" class="btn-icon text-warning"></svg></div>
                    <div class="text-bold">{{item.name}}</div>
                    <div>
                      <button (click)="onDownload(item.type_id, item.filename)" cButton class="btn btn-link btn-sm">Download</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noItemsTemplate>
              <p class="p-5 text-center text-muted">No items</p>
          </ng-template>
        </div>
      </c-card-body>
    </c-card>
  </c-col>


</c-row>

