<!-- <p>read works!</p> -->

<!-- <app-progress *ngIf="mProgress"/> -->

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="card-title">
          Create Deal
        </div>
      </c-card-header>
      <c-card-body>

        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">

          <div class="row">
              <div class="col-6">
                <!-- Vendor -->
                <div class="form-group">
                  <label for="vendor_id" class="col-form-label required">Vendor:</label>
                  <select formControlName="vendor_id" [ngClass]="{'is-invalid': vendor_id.invalid && (vendor_id.dirty || vendor_id.touched)}" id="vendor_id" type="text" class="form-control">
                    <option value="" disabled="true" selected="true">--- Select vendor ---</option>
                    <option *ngFor="let item of mVendors" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <div *ngIf="vendor_id.invalid && (vendor_id.dirty || vendor_id.touched)" class="invalid-feedback" role="alert">
                    <div *ngIf="vendor_id.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <!-- Customer -->
                <div class="form-group">
                  <label for="customer_id" class="col-form-label required">Customer:</label>
                  <select formControlName="customer_id" [ngClass]="{'is-invalid': customer_id.invalid && (customer_id.dirty || customer_id.touched)}" id="customer_id" type="text" class="form-control">
                    <option value="" disabled="true" selected="true">--- Select customer ---</option>
                    <option *ngFor="let item of mCustomers" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <div *ngIf="customer_id.invalid && (customer_id.dirty || customer_id.touched)" class="invalid-feedback" role="alert">
                    <div *ngIf="customer_id.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <!-- Project Name -->
                <div class="form-group">
                  <label for="project_name" class="col-form-label required">Project Name:</label>
                  <input formControlName="project_name" [ngClass]="{'is-invalid': project_name.invalid && (project_name.dirty || project_name.touched)}" type="project_name" class="form-control"/>
                  <div *ngIf="project_name.invalid && (project_name.dirty || project_name.touched)" class="invalid-feedback" role="alert">
                    <div *ngIf="project_name.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <!-- Project Description -->
                <div class="form-group">
                  <label for="project_description" class="col-form-label required1">Project Description:</label>
                  <input formControlName="project_description" [ngClass]="{'is-invalid': project_description.invalid && (project_description.dirty || project_description.touched)}" type="text" class="form-control"/>
                  <!-- <ckeditor [editor]="mEditor" data="" formControlName="project_description" [ngClass]="{'is-invalid':project_description.invalid && (project_description.dirty ||project_description.touched)}" type="text" class="form-control1"></ckeditor> -->
                  <div *ngIf="project_description.invalid && (project_description.dirty || project_description.touched)" class="invalid-feedback" role="alert">
                    <div *ngIf="project_description.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
            <div class="col-12">
              <!-- Deal Value -->
              <div class="form-group">
                <label for="deal_value" class="col-form-label required">Deal Value (USD):</label>
                <input formControlName="deal_value" [ngClass]="{'is-invalid': deal_value.invalid && (deal_value.dirty || deal_value.touched)}" type="number" class="form-control"/>
                <div *ngIf="deal_value.invalid && (deal_value.dirty || deal_value.touched)" class="invalid-feedback" role="alert">
                  <div *ngIf="deal_value.errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!-- Partner Revenue Share(%) -->
              <div class="form-group">
                <label for="partner_revenue_share " class="col-form-label required">Partner Revenue Share(%):</label>
                <input formControlName="partner_revenue_share" [ngClass]="{'is-invalid': partner_revenue_share .invalid && (partner_revenue_share .dirty || partner_revenue_share .touched)}" type="number" class="form-control"/>
                <div *ngIf="partner_revenue_share .invalid && (partner_revenue_share .dirty || partner_revenue_share .touched)" class="invalid-feedback" role="alert">
                  <div *ngIf="partner_revenue_share .errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!-- Konza Revenue Share(%) -->
              <div class="form-group">
                <label for="konza_revenue_share" class="col-form-label required">Konza Revenue Share(%):</label>
                <input formControlName="konza_revenue_share" [ngClass]="{'is-invalid': konza_revenue_share.invalid && (konza_revenue_share.dirty || konza_revenue_share.touched)}" type="number" class="form-control"/>
                <div *ngIf="konza_revenue_share.invalid && (konza_revenue_share.dirty || konza_revenue_share.touched)" class="invalid-feedback" role="alert">
                  <div *ngIf="konza_revenue_share.errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <!-- Expected Timelines -->
              <div class="form-group">
                <label for="expected_timelines" class="col-form-label required">Expected Timelines:</label>
                <input formControlName="expected_timelines" [ngClass]="{'is-invalid': expected_timelines.invalid && (expected_timelines.dirty || expected_timelines.touched)}" type="date" class="form-control"/>
                <div *ngIf="expected_timelines.invalid && (expected_timelines.dirty || expected_timelines.touched)" class="invalid-feedback" role="alert">
                  <div *ngIf="expected_timelines.errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div> <div class="col-12">
                <!-- Status -->
                <div class="form-group">
                  <label for="status_id" class="col-form-label required">Status:</label>
                  <select formControlName="status_id" [ngClass]="{'is-invalid': status_id.invalid && (status_id.dirty || status_id.touched)}" id="status_id" type="text" class="form-control">
                    <option value="" disabled="true" selected="true">--- Select status ---</option>
                    <option *ngFor="let item of mDealStatuses" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <div *ngIf="status_id.invalid && (status_id.dirty || status_id.touched)" class="invalid-feedback" role="alert">
                    <div *ngIf="status_id.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
          </div>

            <div class="mt-3 text-right">
              <!-- Buttons -->
              <button routerLink="/deals" cButton color="danger">Cancel</button>
              <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button>
            </div>

        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
