
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>

        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="attachment" class="col-form-label required">File: <a href="assets/files/Registered Kenyan Planners - Template.xlsx" class="btn btn-link btn-sm">Download Template</a></label>
                <input (change)="onAttachmentChange($event)" formControlName="attachment" [ngClass]="{'is-invalid': itemForm.get('attachment').invalid && (itemForm.get('attachment').dirty || itemForm.get('attachment').touched)}" type="file" class="form-control"/>
                <div *ngIf="itemForm.get('attachment').invalid && (itemForm.get('attachment').dirty || itemForm.get('attachment').touched)" class="invalid-feedback" role="alert">
                  <div *ngIf="itemForm.get('attachment').errors?.['required']">This field is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3 text-right">
            <button routerLink="/registered-professionals" cButton color="danger">Cancel</button>
            <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button>
          </div>

        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
