
<app-progress *ngIf="mProgress()" />

<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-3">
      <c-card-body>

        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">

          <fieldset class="border p-2 mb-3">
            <legend class="float-none w-auto"><h6 class="text-bolder text-muted">GENERAL INFORMATION</h6></legend>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="investor_id" class="col-form-label required">Company:</label>
                    <select [(ngModel)]="item.investor_id" formControlName="investor_id" [ngClass]="{'is-invalid': itemForm.get('investor_id')?.invalid && (itemForm.get('investor_id')?.dirty || itemForm.get('investor_id')?.touched)}" type="text" class="form-control">
                      <option value="" disabled="true" selected="true">--- Select investor ---</option>
                      <option *ngFor="let item of mInvestors" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="itemForm.get('investor_id')?.invalid && (itemForm.get('investor_id')?.dirty || itemForm.get('investor_id')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('investor_id')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="type_id" class="col-form-label required">Nature of Application:</label>
                    <select [(ngModel)]="item.type_id" formControlName="type_id" [ngClass]="{'is-invalid': itemForm.get('type_id')?.invalid && (itemForm.get('type_id')?.dirty || itemForm.get('type_id')?.touched)}" type="text" class="form-control">
                      <option value="" disabled="true" selected="true">--- Select plan submission type ---</option>
                      <option *ngFor="let item of mPermitTypes" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div *ngIf="itemForm.get('type_id')?.invalid && (itemForm.get('type_id')?.dirty || itemForm.get('type_id')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('type_id')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
              </div>
          </fieldset>
          <fieldset class="border p-2 mb-3">
            <legend class="float-none w-auto"><h6 class="text-bolder text-muted">PROJECT BRIEF AND PURPOSE</h6></legend>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="project_brief" class="col-form-label required">Project Brief and Purpose (Description of the overall project concept and how it fits in the Konza Technopolis Vision):</label>
                    <textarea [(ngModel)]="item.project_brief" formControlName="project_brief" [ngClass]="{'is-invalid': itemForm.get('project_brief')?.invalid && (itemForm.get('project_brief')?.dirty || itemForm.get('project_brief')?.touched)}" type="text" class="form-control"></textarea>
                    <div *ngIf="itemForm.get('project_brief')?.invalid && (itemForm.get('project_brief')?.dirty || itemForm.get('project_brief')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('project_brief')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="project_purpose" class="col-form-label required">Project Purpose (State the specific purpose of the proposed development e.g., Where the land use is education, the purpose may be the development of a primary school):</label>
                    <textarea [(ngModel)]="item.project_purpose" formControlName="project_purpose" [ngClass]="{'is-invalid': itemForm.get('project_purpose')?.invalid && (itemForm.get('project_purpose')?.dirty || itemForm.get('project_purpose')?.touched)}" type="text" class="form-control"></textarea>
                    <div *ngIf="itemForm.get('project_purpose')?.invalid && (itemForm.get('project_purpose')?.dirty || itemForm.get('project_purpose')?.touched)" class="invalid-feedback" role="alert">
                      <div *ngIf="itemForm.get('project_purpose')?.errors?.['required']">This field is required.</div>
                    </div>
                  </div>
                </div>
              </div>
          </fieldset>

          <div class="mt-3 text-right">
            <button routerLink="/construction-permits" cButton color="danger">Cancel</button>
            <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button>
          </div>

        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
