
<app-progress *ngIf="mProgress()" />

<div>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label for="notice_of_approval" class="col-form-label required">Notice of Approval:
            <span *ngIf="item.notice_of_approval_url">
                <a href="{{item.notice_of_approval_url}}" target="_blank" class="btn btn-link btn-sm">File</a>
            </span>
        </label>
        <input (change)="onNoticeOfApprovalChange($event)" formControlName="notice_of_approval" [ngClass]="{'is-invalid': itemForm.get('notice_of_approval').invalid && (itemForm.get('notice_of_approval').dirty || itemForm.get('notice_of_approval').touched)}" type="file" class="form-control"/>
        <div *ngIf="itemForm.get('notice_of_approval').invalid && (itemForm.get('notice_of_approval').dirty || itemForm.get('notice_of_approval').touched)" class="invalid-feedback" role="alert">
          <div *ngIf="itemForm.get('notice_of_approval').errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label for="construction_permit" class="col-form-label required">Construction Permit:
            <span *ngIf="item.construction_permit_url">
                <a href="{{item.construction_permit_url}}" target="_blank" class="btn btn-link btn-sm">File</a>
            </span>
        </label>
        <input (change)="onConstructionPermitChange($event)" formControlName="construction_permit" [ngClass]="{'is-invalid': itemForm.get('construction_permit').invalid && (itemForm.get('construction_permit').dirty || itemForm.get('construction_permit').touched)}" type="file" class="form-control"/>
        <div *ngIf="itemForm.get('construction_permit').invalid && (itemForm.get('construction_permit').dirty || itemForm.get('construction_permit').touched)" class="invalid-feedback" role="alert">
          <div *ngIf="itemForm.get('construction_permit').errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label for="remarks" class="col-form-label required1">Additional Remarks:</label>
        <ckeditor [editor]="mEditor" [config]="mAppContextService.ckEditorConfig" formControlName="remarks" [ngClass]="{'is-invalid': itemForm.get('remarks').invalid && (itemForm.get('remarks').dirty || itemForm.get('remarks').touched)}" type="text" class="form-control1"></ckeditor>
        <div *ngIf="itemForm.get('remarks').invalid && (itemForm.get('remarks').dirty || itemForm.get('remarks').touched)" class="invalid-feedback" role="alert">
          <div *ngIf="itemForm.get('remarks').errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 text-right">
    <button routerLink="/detailed-designs" cButton color="danger" class="me-2">Cancel</button>
    <button [disabled]="itemForm.invalid" type="submit" cButton color="success">Submit</button>
  </div>

</form>
</div>

